---
layout: default
---

{% assign has_post = false %}
{% for cool_posts in site.cool_posts %}
    {% if cool_posts.private == true %}
        {% continue %}
    {% endif %}
    <div class="post-card">
        <a class="title" href="{{site.baseurl}}{{ cool_posts.url }}">
            {{ cool_posts.title }}
        </a>

        <div class="details">
            <b>{{ cool_posts.date | date: "%d %B %Y" }}</b>
            <br>
            {% if cool_posts.tags %}
                <b>[</b>
                {% for tag in cool_posts.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %},{% endif %}
                {% endfor %}
                <b>]</b>
            {% endif %}
        </div>

        <div class="subtitle">
            {{ cool_posts.subtitle }}
        </div>
    </div>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
    {% assign has_post = true %}
{% endfor %}
{% if has_post == false %}
    <div class="no-post">I've lost the ink pot. Check back later...</div>
{% endif %}
